body {
background-color: rgb(41, 46, 60);
color: white;
}

.title {
font-size: 5rem
}

.move-icon {
height: 4rem;
}

.move-button {
background-color: transparent;
border: 3px solid white;
width: 9rem;
height: 9rem;
border-radius: 3.5rem;
margin-right: 0.8rem;
cursor: pointer;
}

.result {
font-size: 25px;
font-weight: bold;
margin-top: 50px;
}

.score {
margin-top: 4rem;
}

.reset-score-button,
.auto-play-button {
background-color: white;
border: none;
font-size: 15px;
padding: 8px 15px;
cursor: pointer;
}